<div class="dialogbox">
    <div class="body">
      <span class="tip tip-down"></span>
      <div class="message">
        <span><%= comment.content %></span>
        <p>Posted on: <%= distance_of_time_in_words(comment.job.created_at, comment.created_at)%> later </p>
      </div>
    </div>
  </div>
