<header>
  <h1> <%= @tag.title %> </h1>
</header>

<% @tag.jobs.each do |job| %>
<div class="card">
  <h1><%=job.title%></h1>
  <p class="title"><%= link_to "Edit", edit_company_job_path(job.company, job)%></p>
  <p><button> <%= link_to "Show", company_job_path(job.company, job)%></button></p>
</div>
<% end %>
