/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-color: #93827F;
   display: flex;
   flex-wrap: wrap;
 }

 section {
   width: 80%;
 }

 .column {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
 }

 .nav-bar {
   list-style-type: none;
   display: flex;
   justify-content: space-around;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
   width: 100%;
 }

.nav-li {
  font-size: 170%;
}

.nav-li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
}

.nav-li a:hover {
  background-color: red;
}

.card {
    background-color: silver;
    flex: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    min-width: 300px;
    max-height: 200px;
    margin: 10px 10px;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button a {
  color: white;
}

button:hover, a:hover {
    opacity: 0.7;
}

header{
  text-align: center;
  width: 100%;
} header a:hover {
  color: red;
}

.map-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dashboard {
  background-color: white;
}

.pie-chart-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dialogbox .body {
  position: relative;
  max-width: 500px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #ccc;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}

.tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}
